---
import Head from '../../components/Head.astro';
import Nav from '../../components/Nav.astro';
import tierlist from '../../data/tierlist.json';
import { fetchGitHubData } from '../../helpers/fetch-github-data.js';

const SKULL_COLORS = ['#ff0000', '#ffff00', '#0040ff', '#ff00ff', '#00ff00'];
const colorOfTheDay = SKULL_COLORS[Math.floor(Math.random() * SKULL_COLORS.length)];

function randomFour(list) {
  let hat = [...(list.rankings.s || []), ...(list.rankings.a || []), ...(list.rankings.b || []), ...(list.rankings.c || []), ...(list.rankings.d || []), ...(list.rankings.f || [])].flat();
  let pick = [];
  while (hat.length && pick.length < 4) {
    const rand = Math.floor(Math.random() * hat.length);
    pick.push(...hat.splice(rand, 1));
  }
  return pick;
}

const [oapiTs, astro, terrazzo, lqip, bundlesize] = await Promise.all([
  fetchGitHubData('https://github.com/drwpow/openapi-typescript'),
  fetchGitHubData('https://github.com/withastro/astro'),
  fetchGitHubData('https://github.com/terrazzoapp/terrazzo'),
  fetchGitHubData('https://github.com/drwpow/vite-plugin-lqip'),
  fetchGitHubData('https://github.com/drwpow/vite-plugin-bundlesize'),
]);
---

<head>
  <Head title="stuff" color={colorOfTheDay} />
  <style lang="scss">
    .section {
      margin: 3em 0;

      > h2 {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.4em;
        text-transform: uppercase;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 600px) {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }

      > p {
        font-size: 1.5rem;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;

        @media (min-width: 600px) {
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }
      }
    }

    .stuff-list {
      display: flex;
      list-style: none;
      margin: 2rem 0;
      overflow-x: auto;
      padding: 0;
      gap: 1em;

      > li {
        margin: 0;
        min-width: 20em;
        width: 20em;

        &:first-of-type {
          padding-left: 4rem;
        }

        &:last-of-type {
          padding-right: 1rem;

          @media (min-width: 600px) {
            padding-right: 2.5rem;
          }
        }
      }
    }

    .stuff-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h3 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
      }
    }

    .stuff-thumb {
      display: block;
      height: 20em * 0.5;
      width: 100%;

      img {
        height: 100%;
        object-fit: cover;
        object-position: 0 0;
        width: 100%;
      }
    }

    .stuff-thumb--4-3 {
      height: 20em * 0.75;
    }

    .stuff-oss-stats {
      display: grid;
      font-family: var(--mono);
      grid-template-columns: min-content auto;
      margin: 0;

      dd {
        margin-left: 0.25rem;
      }
    }

    .tierlist-link {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      text-decoration: none;
    }

    .tierlist-grid {
      display: grid;
      grid-gap: 1px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      height: 12rem;
      overflow: hidden;
      position: relative;
      width: 12rem;

      img {
        display: block;
      }

      &::after {
        background-image: linear-gradient(135deg, transparent, rgba(0, 0, 0, 0.75));
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    .tierlist-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
      grid-gap: 1rem;
      padding: 0 1rem;

      @media (min-width: 600px) {
        padding: 0 4rem;
      }
    }

    .tierlist-ul {
      padding: 0 1rem;

      @media (min-width: 600px) {
        padding: 0 4rem;
      }
    }

    .tierlist-date {
      color: var(--fg);
      line-height: 1;
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 0.5rem;
      text-transform: none;
    }

    .tierlist-title {
      color: var(--fg);
      line-height: 1;
      font-size: 24px;
      font-weight: 400;
      display: block;
    }
  </style>
</head>

<body>
  <Nav />

  <main>
    <div class="page">
      <h1 class="page-title">Stuff</h1>
      <p class="page-description">Things I’ve made. Things I like. A random mishmash of the internet, as God intended.</p>
    </div>

    <section class="section">
      <h2>Open source</h2>
      <p>Code I wrote you can steal</p>
      <ul class="stuff-list">
        <li class="stuff-item">
          <h3>openapi-typescript</h3>
          <dl class="stuff-oss-stats">
            <dt>★</dt>
            <dd>{oapiTs.starCount}</dd>
          </dl>
          <a class="stuff-thumb" href="https://github.com/drwpow/openapi-typescript" target="_blank" rel="noreferrer">
            <img width="400" height="300" src={oapiTs.unfurlImg} alt="openapi-typescript on GitHub" />
          </a>
          <span>Convert OpenAPI schemas into TypeScript types.</span>
          <div class="stuff-links">
            <a href="https://openapi-ts.pages.dev" target="_blank" rel="noreferrer">Docs</a> / <a href="https://github.com/drwpow/openapi-typescript" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>Astro</h3>
          <dl class="stuff-oss-stats">
            <dt>★</dt>
            <dd>{astro.starCount}</dd>
          </dl>
          <a class="stuff-thumb" href="https://github.com/withastro/astro" target="_blank" rel="noreferrer">
            <img width="400" height="300" src={astro.unfurlImg} alt="Astro on GitHub" />
          </a>
          <span>A thing I co-created for the web. Use it if you want.</span>
          <div class="stuff-links">
            <a href="https://docs.astro.build" target="_blank" rel="noreferrer">Docs</a> / <a href="https://github.com/withastro/astro" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>Terrazzo</h3>
          <dl class="stuff-oss-stats">
            <dt>★</dt>
            <dd>{terrazzo.starCount}</dd>
          </dl>
          <a class="stuff-thumb" href="https://github.com/terrazzoapp/terrazzo">
            <img width="400" height="300" src={terrazzo.unfurlImg} alt="Terrazzo on GitHub" />
          </a>
          <span>Use design tokens in code</span>
          <div class="stuff-links">
            <a href="https://cobalt-ui.pages.dev">Website</a> / <a href="https://github.com/drwpow/cobalt-ui" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>Vite LQIP Plugin</h3>
          <dl class="stuff-oss-stats">
            <dt>★</dt>
            <dd>{lqip.starCount}</dd>
          </dl>
          <a class="stuff-thumb" href="https://github.com/drwpow/vite-plugin-lqip">
            <img width="400" height="300" src={lqip.unfurlImg} alt="vite-plugin-lqip on GitHub" />
          </a>
          <span>The easiest way to use low-quality image placeholders (LQIP) in Vite</span>
          <div class="stuff-links">
            <a href="https://vite-plugin-lqip.pages.dev/">Demo</a> / <a href="https://github.com/drwpow/vite-plugin-lqip" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>Vite Bundlesize Plugin</h3>
          <dl class="stuff-oss-stats">
            <dt>★</dt>
            <dd>{bundlesize.starCount}</dd>
          </dl>
          <a class="stuff-thumb" href="https://github.com/drwpow/vite-plugin-bundlesize">
            <img width="400" height="300" src={bundlesize.unfurlImg} alt="vite-plugin-bundlesize on GitHub" />
          </a>
          <span>Profile your JS bundle and keep it itty bitty</span>
          <div class="stuff-links">
            <a href="https://github.com/drwpow/vite-plugin-bundlesize" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
      </ul>
    </section>

    <section class="section">
      <h2>Experiments</h2>
      <p>Fun little microsites and whatnot</p>

      <ul class="stuff-list">
        <li class="stuff-item">
          <h3>Better Color Playground</h3>
          <a class="stuff-thumb stuff-thumb--4-3" href="https://better-color-tools.pages.dev" target="_blank" rel="noreferrer">
            <img width="1288" height="862" src="/assets/stuff/better-color-tools.png" alt="Better color tools" />
          </a>
          <span>Analyze colors, build palettes, and mix colors using cool colorspaces like OKLAB</span>
          <div class="stuff-links">
            <a href="https://better-color-tools.pages.dev">Website</a> / <a href="https://github.com/drwpow/better-color-tools" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>HCT playground</h3>
          <a class="stuff-thumb stuff-thumb--4-3" href="https://hct-test.pages.dev" target="_blank" rel="noreferrer">
            <img width="1288" height="862" src="/assets/stuff/hct-test.png" alt="HCT Playground" />
          </a>
          <span>Little tool to test Google’s new HCT colorspace</span>
          <div class="stuff-links">
            <a href="https://hct-test.pages.dev">Website</a> / <a href="https://github.com/drwpow/hct-test" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
        <li class="stuff-item">
          <h3>Baby name explorer</h3>
          <a class="stuff-thumb stuff-thumb--4-3" href="https://baby-name-explorer.pages.dev" target="_blank" rel="noreferrer">
            <img width="1392" height="908" src="/assets/stuff/baby-name-explorer.png" alt="Baby name explorer" />
          </a>
          <span>Using public census data to not name my child something stupid</span>
          <div class="stuff-links">
            <a href="https://baby-name-explorer.pages.dev">Website</a> / <a href="https://github.com/drwpow/baby-names-explorer" target="_blank" rel="noreferrer">GitHub</a>
          </div>
        </li>
      </ul>
    </section>

    <section class="section">
      <h2>Tierlists</h2>
      <p>My favorite things fight to the death for the top slot</p>

      <ul class="tierlist-list">
        {
          tierlist.map((list) => (
            <li class="stuff-item">
              <a class="tierlist-link" href={`/tierlist/${list.id}`}>
                <span class="tierlist-title">{list.title}</span>
                <time class="tierlist-date">Updated {list.updated}</time>
                <span class="tierlist-grid">
                  {randomFour(list).map((entry) => (
                    <img width="600" height="600" src={`/assets/tierlists/${entry.id}.jpg`} alt={entry.title} />
                  ))}
                </span>
              </a>
            </li>
          ))
        }
      </ul>
    </section>

    <section class="section">
      <h2>Coolweb</h2>
      <p>Good websites that keep the web fun and creative (no association to me in any way)</p>
      <ul class="tierlist-ul">
        <li>
          <a href="http://www.windows93.net" target="_blank" rel="noreferrer">WINDOWS93</a>
        </li>
        <li>
          <a href="https://webamp.org" target="_blank" rel="noreferrer">Webamp</a> / Winamp in the browser
        </li>
        <li>
          <a href="https://pavellaptev.github.io/web-dark-ages/" target="_blank" rel="noreferrer">Dark Ages of the Web</a> / A collection of websites from the 90s and early 2000s
        </li>
        <li>
          <a href="https://getcoleman.com" target="_blank" rel="noreferrer">Joe Coleman</a> / Copywriter
        </li>
        <li>
          <a href="https://www.my80stv.com" target="_blank" rel="noreferrer">My 80s TV</a> / Dive back into TV nostalgia
        </li>
        <li>
          <a href="https://www.kenrockwell.com/tech/notcamera.htm" target="_blank" rel="noreferrer">Your Camera Doesn’t Matter</a> / The best camera is the one you have with you
        </li>
        <li>
          <a href="https://www.webdesignerdepot.com/2020/07/in-memory-of-flash-1996-2020/" target="_blank" rel="noreferrer">In Memory of Flash 1996–2020</a> / An homage to the wonderful, weird, creative websites of a bygone era
        </li>
        <li>
          <a href="https://neal.fun" target="_blank" rel="noreferrer">Neal.fun</a> / A collection of minisites by Neal Agarwal
        </li>
        <li>
          <a href="https://bezier.method.ac" target="_blank" rel="noreferrer">Bezier Game</a> / A game to help you master the pen tool
        </li>
        <li>
          <a href="https://midi.city/" target="_blank" rel="noreferrer">MIDI City</a> / online MIDI instrument
        </li>
        <li>
          <a href="https://ocremix.org/" target="_blank" rel="noreferrer">OverClocked ReMix</a> / Video game music community
        </li>
        <li>
          <a href="https://userinyerface.com" target="_blank" rel="noreferrer">User Inyerface</a> / A challenging exploration of user interactions and design patterns.
        </li>
        <li>
          <a href="http://histography.io" target="_blank" rel="noreferrer">Histography</a> / Timeline of history
        </li>
        <li>
          <a href="https://www.jezzamon.com/fourier/" target="_blank" rel="noreferrer">An Interactive Introduction to Fourier Transforms</a>
        </li>
        <li>
          <a href="https://interfaceingame.com/" target="_blank" rel="noreferrer">Interface in Game</a> / A collection of UIs from video games
        </li>
        <li>
          <a href="https://www.hudsandguis.com" tareget="_blank" rel="noreferrer">Huds and Guis</a> / an inspiration resource site featuring Future User Interfaces, Graphic User Interfaces, Heads Up Displays and UX/UI Design from areas such
          as film and games
        </li>
        <li>
          <a href="https://www.guitar-chord-finder.com" target="_blank" rel="noreferrer">Guitar Chord Finder</a> / Find Guitar Chords
        </li>
        <li>
          <a href="https://nestflix.fun" target="_blank" rel="noreferrer">Nestflix</a> / A platform for fictional films and shows within other films and shows.
        </li>
        <li>
          <a href="https://www.animatedknots.com/" target="_blank" rel="noreferrer">Animated Knots</a> / Learn how to tie knots
        </li>
        <li>
          <a href="https://www.tylervigen.com/spurious-correlations" target="_blank" rel="noreferrer">Spurious Correlations</a> / Correlation does not imply causation
        </li>
        <li>
          <a href="https://flickmetrix.com" target="_blank" rel="noreferrer">Flickmetrix</a> / the best movies to watch on Netflix
        </li>
        <li>
          <a href="https://www.translationparty.com/good-egg-3858158" target="_blank" rel="noreferrer">Translation Party</a> / Translate a phrase back and forth between English and Japanese until it reaches equilibrium
        </li>
        <li>
          <a href="https://origamisimulator.org/" target="_blank" rel="noreferrer">Origami Simulator</a> / Learn how to fold origami
        </li>
        <li>
          <a href="https://www.linyangchen.com/Typography-Fell-Types-font" target="_blank" rel="noreferrer">A 17th-century font in a 21st-century thesis</a>
        </li>
        <li>
          <a href="http://www.imissmybar.com" target="_blank" rel="noreferrer">I Miss My Bar</a> / Recreate Your Favorite Bar’s Atmosphere
        </li>
        <li>
          <a href="https://research.exoticsilicon.com" target="_blank" rel="noreferrer">Exotic Silicon</a> / The most beautiful website ever made?
        </li>
        <li>
          <a href="https://js13kgames.com" target="_blank" rel="noreferrer">JS13kGames</a> / JavaScript Game Development Competition in just 13 kB
        </li>
        <li>
          <a href="https://layoffs.fyi" target="_blank" rel="noreferrer">Layoffs.fyi</a> / Tech layoff tracker and startup layoff lists
        </li>
        <li>
          <a href="https://levels.fyi" target="_blank" rel="noreferrer">Levels.fyi</a> / Compare career levels and salaries across companies
        </li>
      </ul>
    </section>
  </main>
</body>
