---
import Tag from './Tag.astro';
import { format } from '../helpers/date.js';

const { post } = Astro.props;
---

<style lang="scss">
  @use '../styles/element' as *;

  .preview {
    color: var(--fg);
    display: block;
    font-weight: 300;
    gap: 0.5rem;
    line-height: 1;
    margin: 1rem 0 1.5rem;
    max-width: 50em;
    position: relative;
    text-decoration: none;

    @media (min-width: 600px) {
      margin-top: 2rem;
      padding-left: 2.75rem;

      &:first-of-type {
        margin-top: 0;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }
  }

  .date {
    @include element;

    color: var(--gray-50);
    display: block;
    grid-area: date;
    font-family: Arial;
    font-size: var(--d2);
    text-transform: none;

    @media (min-width: 600px) {
      margin-top: 0.5em;
    }

    &::before {
      content: '<time>';
    }
  }

  .summary {
    @include element;

    display: block;
    font-size: var(--u0);
    line-height: 1.25;
    margin: 0.25em 0;
    max-width: 32em;

    @media (min-width: 1200px) {
      font-size: var(--u1);
    }

    &::before {
      content: '<p>';
      line-height: var(--u2);

      @media (min-width: 1200px) {
        line-height: var(--u4);
      }
    }
  }

  .simlink {
    align-self: end;
    display: flex;
    font-family: var(--heading);
    font-weight: 600;
    justify-content: flex-end;
  }

  .tags {
    @include element;

    align-items: center;
    display: flex;
    flex-wrap: wrap;

    &::before {
      content: '<tags>';
      line-height: var(--u4);
    }

    :global(> *::before) {
      color: var(--gray-50);
      content: ' / ';
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    :global(> *:first-of-type::before) {
      content: initial;
    }
  }

  .title {
    @include element;

    display: block;
    font-size: var(--u2);
    font-weight: 700;
    line-height: 0.9;
    letter-spacing: -0.01em;
    margin: 0.25em 0;

    @media (min-width: 1200px) {
      font-size: var(--u4);
    }

    &::before {
      content: '<title>';
      line-height: var(--u4);

      @media (min-width: 1200px) {
        line-height: var(--u6);
      }
    }
  }
</style>

<a class="preview" href={post.url} itemscope itemtype="http://schema.org/BlogPosting">
  <time class="date" datetime={post.date} itemprop="datePublished">{format(post.frontmatter.date)}</time>
  <span class="title" itemprop="headline">{post.frontmatter.title}</span>
  <span class="summary" itemprop="description">{post.frontmatter.description}</span>
  <span class="tags">
    {(post.frontmatter.tags || []).map((tag) => <Tag tag={tag} />)}
  </span>
</a>
