---
import Tag from './Tag.astro';
import { format } from '../helpers/date.ts';

const { post } = Astro.props;
---
<style lang="scss">
.preview {
  color: var(--fg);
  display: grid;
  font-weight: 300;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-areas: 'date' 'title' 'summary' 'tag';
  line-height: 1;
  margin: 1rem 0 2.5rem;
  max-width: 50em;
  position: relative;
  text-decoration: none;

  @media (min-width: 600px) {
    grid-template-areas: 'date title' 'date summary' 'date tag';
    grid-template-columns: 5rem auto;
    margin-bottom: 3.5rem;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.date {
  color: var(--gray-50);
  display: inline;
  grid-area: date;
  font-family: Arial;
  font-size: 12px;

  @media (min-width: 600px) {
    margin-top: 0.5em;
  }
}

.summary {
  display: block;
  grid-area: summary;
  font-size: var(--u1);
  font-style: italic;
  line-height: 1.25;
}

.simlink {
  display: flex;
  align-self: end;
  justify-content: flex-end;
  font-weight: 600;
  font-family: var(--heading);
}

.tag {
  display: inline-block;
  grid-area: tag;
}

.title {
  display: block;
  grid-area: title;
  font-size: var(--u4);
  line-height: 0.9;
  font-weight: 400;
  margin: 0;
}

</style>

<a class="preview" href={post.url} itemscope itemtype="http://schema.org/BlogPosting">
  <span class="title" itemprop="headline">{post.title}</span>
  <time class="date" datetime={post.date} itemprop="datePublished">{format(post.date)}</time>
  <span class="summary" itemprop="description">{post.description}</span>
  <span class="tag">
    {(post.tags || []).map((tag) => (<Tag tag={tag} />))}
  </span>
</a>
