---
import Tag from './Tag.astro';
import { format } from '../helpers/date.ts';

const { post } = Astro.props;
---
<style lang="scss">
.preview {
  color: var(--fg);
  display: block;
  font-weight: 300;
  line-height: 1;
  margin: 1rem 0 2.5rem;
  padding: 0 0.5rem;
  position: relative;
  text-decoration: none;

  @media (min-width: 600px) {
    margin-bottom: 3.5rem;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.date {
  display: inline;
  font-family: Arial;

  @media (min-width: 600px) {
    margin: 1em 0;
  }
}

.summary {
  font-size: var(--u1);
  font-style: italic;
  line-height: 1.25;
  margin-top: 0.25rem;

  @media (min-width: 600px) {
    margin-top: 0.5rem;
  }
}

.simlink {
  display: flex;
  align-self: end;
  justify-content: flex-end;
  font-weight: 600;
  font-family: var(--heading);
}

.tag {
  display: inline-block;
}

.title {
  display: block;
  font-size: var(--u4);
  line-height: 0.9;
  font-weight: 400;
  margin-bottom: 0.5rem;
  margin-top: 0;

  @media (min-width: 600px) {
    grid-column: span 5;
  }
}

</style>

<a class="preview" href={post.url} itemscope itemtype="http://schema.org/BlogPosting">
  <span class="title" itemprop="headline">{post.title}</span>
  <time class="date" datetime={post.date} itemprop="datePublished">{format(post.date)}</time>
  <div class="tag">
    {(post.tags || []).map((tag) => (<Tag tag={tag} />))}
  </div>
  <div class="summary" itemprop="description">{post.description}</div>
</a>
