---
import Tag from './Tag.astro';
import { format } from '../helpers/date.ts';

const { post } = Astro.props;
---
<style lang="scss">
.preview {
  display: grid;
  grid-gap: 1rem;
  margin: 3rem 0;
  color: var(--fg);
  font-weight: 300;
  line-height: 1;
  text-decoration: none;

  @media (min-width: 600px) {
    grid-template-columns: repeat(6, 1fr);
    margin: 6rem 0;
  }

  &:first-of-type {
    margin-top: 0;
  }
}

.date {
  @media (min-width: 600px) {
    margin-top: 0.25em;
    text-align: right;
  }
}

.summary {
  line-height: 1.75;

  @media (min-width: 600px) {
    grid-column: span 4;
    margin-top: -0.25rem;
  }
}

.simlink {
  display: flex;
  align-self: end;
  justify-content: flex-end;
  font-weight: 600;
  font-family: var(--heading);
}

.tag {
  align-self: center;

  @media (min-width: 600px) {
    text-align: right;
  }
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--u2);

  @media (min-width: 600px) {
    grid-column: span 5;
  }
}

</style>

<a class="preview" href={post.url} itemscope itemtype="http://schema.org/BlogPosting">
  <div class="tag">
    {(post.tags || []).map((tag) => (<Tag tag={tag} />))}
  </div>
  <span class="title" itemprop="headline">{post.title}</span>
  <time class="date" datetime={post.date} itemprop="datePublished">{format(post.date)}</time>
  <div class="summary" itemprop="description">{post.description}</div>
</a>
