---
import Tag from './Tag.astro';
import { format } from '../helpers/date.js';

const { post } = Astro.props;
---

<style lang="scss">
  @use '../styles/element' as *;

  .preview {
    color: var(--fg);
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 300;
    gap: 0.75rem;
    line-height: 1;
    margin-top: 2rem;
    max-width: 50em;
    outline: none;
    position: relative;
    text-decoration: none;

    &::after {
      border-radius: 0.5rem;
      bottom: -1rem;
      content: '';
      display: block;
      left: -1rem;
      opacity: 0;
      outline: 2px solid var(--green);
      pointer-events: none;
      position: absolute;
      right: -1rem;
      top: -1rem;
      transition: opacity 100ms linear;
    }

    @media (width >= 600px) {
      gap: 0.5rem;
      margin-top: 3rem;
      padding-left: 2.5rem;
    }

    &:hover,
    &:focus-visible {
      .title {
        color: var(--green);
      }
    }

    &:focus-visible::after {
      opacity: 1;
    }
  }

  .date {
    @include element;

    color: var(--gray-50);
    display: block;
    font-family: Arial;
    font-size: var(--d2);
    letter-spacing: 0.125em;
    grid-area: date;
    line-height: 1.5;
    text-transform: none;

    @media (min-width: 600px) {
      margin-top: 0.5em;
    }
  }

  .summary {
    @include element;

    display: block;
    font-size: var(--u0);
    letter-spacing: 0.0375em;
    line-height: 1.25;
    max-width: 32em;

    @media (min-width: 1200px) {
      font-size: var(--u1);
    }
  }

  .simlink {
    align-self: end;
    display: flex;
    font-family: var(--heading);
    font-weight: 600;
    justify-content: flex-end;
  }

  .tags {
    @include element;

    align-items: center;
    display: flex;
    flex-wrap: wrap;

    :global(> *::before) {
      color: var(--gray-50);
      content: ' / ';
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
      vertical-align: middle;
    }

    :global(> *:first-of-type::before) {
      content: initial;
    }
  }

  .title {
    @include element;

    display: block;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    line-height: 1.2;
    text-transform: uppercase;
    transition: color 100ms linear;
  }
</style>

<a class="preview" href={post.url} itemscope itemtype="http://schema.org/BlogPosting">
  <time class="date" datetime={post.date} itemprop="datePublished">{format(post.frontmatter.date)}</time>
  <span class="title" itemprop="headline">{post.frontmatter.title}</span>
  <span class="summary" itemprop="description">{post.frontmatter.description}</span>
  <span class="tags">
    {(post.frontmatter.tags || []).map((tag) => <Tag tag={tag} />)}
  </span>
</a>
