---
import "../styles/global.scss";

const {
  title,
  description = "The personal site of Drew Powers",
  img,
  color,
} = Astro.props;
const fullTitle = title ? `${title} / ğ”‡ğ”¯ğ”¢ğ”´ ğ”“ğ”¬ğ”´ğ”¢ğ”¯ğ”°` : "ğ”‡ğ”¯ğ”¢ğ”´ ğ”“ğ”¬ğ”´ğ”¢ğ”¯ğ”°";
const imgFallback = Astro.url.pathname.startsWith("/blog")
  ? "/unfurl-blog.png"
  : "/unfurl.png";
---

<title>{fullTitle}</title>
<meta charset="UTF-8" />
<meta content={description} name="description" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" name="viewport" />
<meta content="Drew Powers" name="author" />
<meta content={color} name="theme-color" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="IE=Edge" http-equiv="x-ua-compatible" />
<link rel="alternate" href="/blog.xml" title="RSS 2.0" type="application/rss+xml" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="icon" href="/favicon.svg" />
<link rel="icon" type="image/png" href="/dp-monogram-16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="/dp-monogram-32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="/dp-monogram-128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="/dp-monogram-512.png" sizes="512x512" />
<link rel="me" href="https://bsky.app/profile/pow.rs" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title} />
<meta name="twitter:site" content="@drwpow" />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(img ?? imgFallback, Astro.site).href} />
<meta name="og:title" content={title} />
<meta name="og:type" content="website" />
<meta name="og:image" content={new URL(img ?? imgFallback, Astro.site).href} />
<meta name="og:url" content={Astro.url.href} />
