---
import Art from '../components/Art.astro';
import Head from '../components/Head.astro';
import Nav from '../components/Nav.astro';
import Tag from '../components/Tag.astro';
import { format } from '../helpers/date.js';

const { content } = Astro.props;
const slug = Astro.url.pathname.replace(/\/blog\//, '');

const SKULL_COLORS = ['#ff0000', '#ffff00', '#0040ff', '#ff00ff', '#00ff00'];
const colorOfTheDay = SKULL_COLORS[2]; // blog posts are always blue
---

<html lang="en-us">
  <head>
    <Head title={content.title} description={content.description} img={content.img} color={colorOfTheDay} />

    <style lang="scss">
      @use '../styles/element' as *;

      .post-animation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
        transform: translateZ(0);
        z-index: 50;

        @media (min-width: 1200px) {
          position: absolute;
          right: calc(100%);
          top: 2rem;
          width: 16rem;
        }
      }

      .post-body {
        font-size: var(--u1);
        padding: 0 0 4rem;

        @media (min-width: 1600px) {
          font-size: var(--u2);
        }

        :global(h2) {
          @include element;
        }

        :global(h3) {
          @include element;
        }

        :global(h4) {
          @include element;
        }

        :global(h5) {
          @include element;
        }
        :global(h6) {
          @include element;
        }

        :global(code) {
          font-size: var(--d2);
        }

        :global(dl) {
          display: grid;
          grid-template-columns: 1fr 2fr;
        }

        :global(dt) {
          color: var(--gray-60);
          font-size: var(--d3);
          letter-spacing: 0.125em;
          padding-right: 0.5rem;
          text-transform: uppercase;
        }

        :global(dd) {
          font-size: var(--d1);
          margin: 0;
        }

        :global(dt),
        :global(dd) {
          border-top: 1px solid var(--gray-20);
          padding-bottom: 1rem;
          padding-top: 1rem;

          &:first-of-type {
            border-top: none;
          }
        }
      }

      .post-date {
        @include element;

        color: var(--gray-50);
        display: block;
        font-family: 'Arial', sans-serif;
        font-size: var(--d2);
        text-transform: none;
      }

      .post-description {
        max-width: 28em;
        font-size: var(--u2);
        font-style: italic;
        line-height: 1.4;
        margin-block-end: 0;
        margin-block-start: 0;
      }

      .post-header {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        position: relative;
      }

      .post-tags {
        @include element;

        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1.5rem;

        :global(> *::before) {
          color: var(--gray-30);
          content: ' / ';
          display: inline-block;
          margin-left: 0.5em;
          margin-right: 0.5em;
        }

        :global(> *:first-of-type::before) {
          content: initial;
        }
      }

      .post-tags-sep {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
      }

      .post-title {
        @include element;

        font-weight: 700;
        font-size: var(--u8);
        margin: 0;
        line-height: 1;
        letter-spacing: -0.01em;
      }

      :global(.post-yt) {
        position: relative;
        width: 100%;
        height: 0;
        padding-top: 56.25%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    </style>
  </head>

  <body>
    <Nav />

    <div class="wrapper">
      <article class="post-body" itemscope itemtype="http://schema.org/BlogPosting">
        <header class="post-header">
          <div class="post-animation"><Art id={slug} /></div>
          {
            content.date && (
              <time class="post-date" datetime={content.date}>
                {format(content.date)}
              </time>
            )
          }
          <h1 class="post-title" itemprop="headline">{content.title}</h1>
          <div class="post-tags">
            {content.tags.map((tag) => <Tag tag={tag} />)}
          </div>
        </header>

        <div itemprop="articleBody">
          <slot />
        </div>
      </article>
    </div>
  </body>
</html>
